.contact-section {
	padding: 50px 160px;

	h2 {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	.container {
		display: flex;
		gap: 80px;
		max-width: 1360px;
		margin: 0 auto;

		.img-container {
			flex: 1 1 100%;

			img {
				width: 100%;
				height: auto;
			}
		}

		.contact-form {
			flex: 1 1 100%;

			.socials {
				display: flex;
				gap: 30px;
				flex: 1 1 100%;
				margin-bottom: 50px;

				div {
					p {
						line-height: 1.5;
						text-align: justify;
					}

                    small {
                        display: block;
                        margin-top: 10px;
                        opacity: 0.5;
                    }
				}

				.social-icons {
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 80px;
						aspect-ratio: 1;

						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
			}

			> p {
				line-height: 1.5;
			}

			.wpforms-container {
				.wpforms-field-row {
					max-width: 100%;
				}

				input {
					max-width: 100% !important;

					&:focus {
						border: 1px solid var(--gold);
						box-shadow: 0 0 0 1px var(--gold);
					}
				}

				textarea {
					resize: none;

					&:focus {
						border: 1px solid var(--gold);
						box-shadow: 0 0 0 1px var(--gold);
					}
				}

				button {
					all: unset;
					display: inline-block;
					position: relative;
					text-decoration: none;
					background-color: var(--black) !important;
					padding: 12px 15px;
					border: 3px solid var(--black) !important;
					border-radius: 5px;
					color: white;
					transition: 0.3s;
					cursor: pointer;

					&:hover {
						background-color: transparent !important;
						color: var(--black);
					}
				}
			}
		}
	}
}
