.service-banner {
	padding: 60px 160px;
	background-color: var(--black);
    margin-bottom: 80px;
    @media (max-width: 950px) {
        padding: 60px 80px;
    }
    @media (max-width: 600px) {
        padding: 60px 20px;
    }

	h2 {
		color: white;
		text-align: center;
		margin: 0 auto 50px;
		width: 100%;
	}

	.service-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 50px;
		max-width: 1360px;
		margin: 0 auto;
        @media screen and (max-width: 1160px) {
            justify-content: center;
        }

		.service-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
            flex: 0 0 200px;

			.img-container {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				border: 5px solid var(--gold);
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.text-container {
				h3 {
					color: white;
                    text-align: center;
                    hyphens: auto;
                    hyphenate-limit-chars: 6 6 11;
				}
			}
		}
	}
}
